<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
       <!-- defaultHref="welcome" -->
    </ion-buttons>
    <ion-title> {{ 'profile.eventListTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-primary-gradient">
  <div class="profile-events">
    <div class="image-bg" *ngFor="let event of eventService.events">
      <img [src]="event.image ? event.image : ('assets/imgs/category-cover'+ event.category +'.jpg')">
      <ion-icon class="go-arrow" name="ios-arrow-forward"
        (click)="goToDetailEvent(event.id)" item-left
      ></ion-icon>

      <div class="overview">
        <p><b>{{event.name}}</b></p>
        <p class="small">{{event.date}}</p>
        <p class="small">{{ 'profile.guestCodeLong' | translate }}: <b>{{event.code}}</b></p>
      </div>

      <div class="w-100 image-link-default">
        <p class="text-link"  (click)="savePhotos(event.id)">
          <span>
            <ion-icon name="download" item-left></ion-icon>
          </span>
          save photos
        </p>
        <p class="text-link" (click)="deleteEvent(event.id)">
          <span>
            <ion-icon name="trash" item-left></ion-icon>
          </span>
          delete event
        </p>
      </div>
    </div>

  </div>



</ion-content>
