:host {
  ion-label {
    margin: 2rem 0;
    font-size: 1rem;
    white-space: normal;
  }

  ion-item {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    --color: var(#c8c7cc,#c8c7cc);
  }
}
