<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ 'createEvent' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-primary-gradient">
  <div class="text-center text-white">
    <ion-item lines="none" mode="ios" color="transparent">
      <ion-label color="secondary" stacked>Insert wishlist</ion-label>
      <ion-toggle class="toggle-default"></ion-toggle>
    </ion-item>
    <ion-item lines="none" mode="ios" color="transparent">
      <ion-label color="secondary" stacked>Public event</ion-label>
      <ion-toggle class="toggle-default"></ion-toggle>
    </ion-item>
    <ion-item lines="none" mode="ios" color="transparent">
      <ion-label color="secondary" stacked>Request authorization to creator before every photo pubblication
      </ion-label>
      <ion-toggle class="toggle-default"></ion-toggle>
    </ion-item>
  </div>
</ion-content>

