ion-button {
  margin-left: auto!important;
  display: block;
  width: 107px;
  margin-right: 20px;
  height: 32px;
  font-size: 14px;
  margin-top: -15px;
}

.bg-primary-light {
  background: rgba(151, 46, 63, 0.534);
  min-height: 100%;
}


ion-content.bg-image {
  --background: transparent;
  background-image: url('../../assets/imgs/category-cover1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
