<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'dashboard/'+eventCode" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'whishList.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
  <form [formGroup]="messageForm" (submit)="onSubmit(($event))">
    <div class="avatar-small pt-4 wish-panel active">
      <img [src]="'assets/icon/avatar.jpg'">
      <p class="h6 avatar-name"><b>{{ username }}</b></p>
        <ion-textarea maxlength="3000" class="wish-panel px-3" formControlName="content"
          [placeholder]="'whishList.placeholder' | translate"></ion-textarea>
    </div>
    <ion-button small type="submit" color="primary" class="ml-auto">
      {{ 'whishList.publicBtn' | translate }}
    </ion-button>
  </form>

  <div class="bg-primary-light py-2 mt-4">
    <p *ngIf="eventService?.messages && eventService?.messages.length == 0"
      class="text-center text-white"
    >
      Be the first!
    </p>
    <div class="avatar-small pt-4 wish-panel" *ngFor="let message of eventService?.messages">
      <img [src]="'assets/icon/avatar.jpg'">
      <p class="h6 avatar-name"><b>{{message?.user?.username}}</b></p>
      <p class="p-3">{{message.content}}</p>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="lines"
        loadingText="">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
