<ion-header no-shadow no-border>
  <ion-toolbar no-shadow no-border>
    <ion-buttons slot="end">
      <ion-back-button text="" icon="close" color="secondary"></ion-back-button>
       <!-- defaultHref="welcome" -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-primary-gradient" fullscreen="true">
  <div class="text-white">
    <h3 class="mb-4">{{'auth.login.loginTitle' | translate}}</h3>
    <form [formGroup]="loginForm" (submit)="onSubmit(($event))" class="form-default">
      <ion-item color="transparent" lines="none" class="ion-no-padding">
        <ion-label color="secondary" position="stacked">{{'auth.username' | translate}}</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.username.errors" class="form-error">
        <p *ngIf="f.username.errors?.required">{{'error.required' | translate}}</p>
      </div>

      <ion-item color="transparent" lines="none" class="ion-no-padding">
        <ion-label color="secondary" position="stacked">{{'auth.password' | translate}}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.password.errors" class="form-error">
        <p *ngIf="f.password.errors?.required">{{'error.required' | translate}}</p>
      </div>
      <ion-button type="submit" expand="block" large color="secondary" class="mt-5"
      >
        {{'auth.login.btnLogin' | translate}}
      </ion-button>
      <p class="mt-3"> {{'auth.login.noAccount' | translate}}
        <a class="secondary-text"
        tappable
        routerLink="/registration"><u>{{'auth.register' | translate}}</u>
        </a>
      </p>

      <p class="text-center mt-5"> {{'auth.login.orLogin' | translate}} </p>
      <div class="inline-button">
        <ion-button type="submit" large color="secondary"
        >
        <ion-icon name="logo-google" class="mr-3"></ion-icon>
        GOOGLE
        </ion-button>
        <ion-button type="submit" large color="secondary" (click)="fbLogin()"
        >
          <ion-icon name="logo-facebook" class="mr-3"></ion-icon>
          FACEBOOK
        </ion-button>
      </div>

      <p class="mt-5">{{'auth.login.forgetPw' | translate}}
        <a class="secondary-text"
        tappable
        routerLink="/pw-recovery"><u>{{'auth.login.recoveryIt' | translate}} </u>
        </a>
      </p>
    </form>

  </div>

</ion-content>


