<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="secondary">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="photo-content text-center">
    <ion-spinner *ngIf="!show" color="secondary" name="dots"
      class="h-100 m-auto"
    ></ion-spinner>
    <ion-slides pager="false" class="slider-custom" [options]="slideOpts"
    (ionSlideReachEnd)="next()"
    (ionSlidesDidLoad)="init()"
    (ionSlideNextEnd)="plusCurrent()"
    (ionSlidePrevEnd)="decrementCurrent()"
    (ionSlideDidChange)="hideSwipe()">
      <ion-slide *ngFor="let photo of photosService.pictures; let i = index" class="h-auto">
        <div class="h-100 center-image" *ngIf="show && ((i+1) == currentIndex || i==0 || i == currentIndex)">
          <img [src]="photo.image">
        </div>
      </ion-slide>
    </ion-slides>
    <img *ngIf="showSwipe" src="assets/icon/swipe-icon.svg" class="swipe-icon">


</ion-content>

