<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
       <!-- defaultHref="welcome" -->
    </ion-buttons>

    <ion-title> {{ 'profile.eventDetailTitle' | translate }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="goToCreateEventPage()">
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-primary-gradient text-center">

 <p class="text-white m-0 text-left">{{ 'profile.eventCode' | translate}}</p>

  <ion-item class="input-code mt-2">
    <ion-input type="text" disabled [value]="event?.code"></ion-input>
  </ion-item>
  <ion-button (click)="goToDashboard()" center large color="primary" class="my-4">{{ 'home.goBtnDetail' | translate}}</ion-button>

  <p class="text-18 text-white mt-5 pt-5">{{ 'profile.eventCodeDescription' | translate}}</p>
  <p class="text-14 text-white mb-3">{{ 'profile.eventCodeDescription2' | translate}}</p>

  <img src="assets/imgs/fb.png" class="mr-3">
  <img src="assets/imgs/wtsapp.png">
</ion-content>
