.category-btn {
    margin: 0 auto;
    padding: 10px;
    height: 5em;
    width: 5em;
    background: #FFF4F1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    h3 {
        line-height: 51px;
    }
}

.page-title {
    width: 200px;
    margin: auto;
    padding: 33px 0;
}
