<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="create-event-category" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'createEvent' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-primary-gradient">
  <div class="text-white">
    <div class="text-center avatar">
      <img *ngIf="true" [src]="eventImg">
        <ion-fab class="small-fab" (click)="openGallery()">
          <ion-fab-button color="secondary">
            <ion-icon name="md-create"></ion-icon>
          </ion-fab-button>
        </ion-fab>
    </div>
    <form [formGroup]="createEventForm" (submit)="onSubmit(($event))" class="form-default">
      <ion-item color="transparent" lines="none" no-padding>
        <ion-label color="secondary" position="stacked">{{ 'createEventPage.eventName' | translate}}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item color="transparent" lines="none" no-padding>
          <ion-label color="secondary" position="stacked">{{ 'createEventPage.eventDate' | translate}}</ion-label>
          <ion-datetime max="2050" [min]="minDate" color="secondary" displayFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
      </ion-item>

      <ion-item color="transparent" lines="none" no-padding>
        <ion-label color="secondary" position="stacked">{{ 'createEventPage.eventNote' | translate}}</ion-label>
        <ion-textarea type="text" formControlName="note"></ion-textarea>
      </ion-item>
        <p class="label-note">{{ 'createEventPage.eventNoteSubtitle' | translate}}</p>
        <p tappable class="link my-5" (click)="openModalSettings()">{{ 'createEventPage.eventAdvanced' | translate}}</p>
      <ion-button
        type="submit" expand="block" large color="primary" class="mt-4"
      >
        {{ 'createEventPage.eventCreationBtn' | translate}}
      </ion-button>

    </form>

  </div>

</ion-content>

