<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
       <!-- defaultHref="welcome" -->
    </ion-buttons>
    <ion-title> Recupera password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-primary-gradient ion-padding">
  <div class="text-white">
    <p class="mb-5 mt-5">Inserisci la tua email, ti manderemo una email per il recupero
    </p>
    <form [formGroup]="recoveryForm" (submit)="onSubmit(($event))" class="form-default">
      <ion-item color="transparent" lines="none" class="ion-no-padding">
        <ion-label color="secondary" position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" large color="secondary" class="mt-5"
      >
        SPEDISCI
      </ion-button>
    </form>

  </div>

</ion-content>


