<ion-content padding class="bg-welcome text-center">
    <div style="position: relative;">
      <img src="assets/icon/hupgif3.gif" style="position: absolute; top: 234px; width: 90px; margin: auto; left: 0; right: 0;">
      <img src="assets/imgs/home.svg" class="mb-5">
    </div>
    <ion-button expand="block" large color="secondary" class="mb-4" routerLink="/create-event-category" routerDirection="forward">{{'createEvent' | translate | uppercase }}</ion-button>
    <ion-button expand="block" large color="primary" routerLink="/home" routerDirection="root">{{'guestJoin' | translate | uppercase }}</ion-button>
</ion-content>
