<ion-content class="bg-primary-gradient">
  dashboard
  <div class="cover-img">
    <img [src]="'assets/imgs/category-cover1.jpg'">
    <div class="w-100 image-link-default">
      <p class="text-link" (click)="goToWishList()"> {{ 'dashboard.boardWishes'| translate }}
        <span>
          <ion-icon name="arrow-forward" item-left></ion-icon>
        </span>
      </p>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="4" size-md="3" *ngFor="let photo of pictures; let i = index">
        <post-image [imgSrc]="photo.image" (click)="openDetailPhotoModal(i)">
        </post-image>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--<ion-button color="secondary" (click)="openModal()">
        <ion-icon slot="end" name="create"></ion-icon>
</ion-button>-->

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="lines"
      loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
