<ion-content class="bg-primary-gradient">
  <ion-refresher slot="fixed" (ionRefresh)="photosService.reloadAll($event)" class="refresher">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div class="cover-img">
    <img [src]=" event?.image ? 'http://'+event?.image :
      (event?.category ? 'assets/imgs/category-cover'+ event?.category +'.jpg' : 'assets/imgs/splash.png')">
    <!-- event.image ? event.image : ('assets/imgs/category-cover'+ event.category +'.jpg') -->
    <div class="w-100 image-link-default">
      <p class="text-link" (click)="goToWishList()"> {{ 'dashboard.boardWishes'| translate }}
        <span>
          <ion-icon name="arrow-forward" item-left></ion-icon>
        </span>
      </p>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="4" size-md="3" *ngFor="let photo of photosService.pictures; let i = index">
        <post-image [imgSrc]="photo.preview" (click)="openDetailPhotoModal(i)" class="wrapper">
        </post-image>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--<ion-button color="secondary" (click)="openModal()">
        <ion-icon slot="end" name="create"></ion-icon>
</ion-button>-->

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
  immediate-check="true"
  >
    <ion-infinite-scroll-content
      loadingSpinner="lines"
      loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon src="assets/icon/addphoto.svg" class="add-photos" (click)="openGallery()"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
