.image-link-default {
  position: absolute;
  margin-top: -45px;
  height: 45px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  background: rgba(151, 46, 63, 0.534);
  .text-link {
    line-height: 45px;
    margin: 0;
    text-align: right;
    span ion-icon {
      margin: 0 10px;
      font-size: 19px;
      vertical-align: text-bottom;
    }
  }
}

ion-icon.add-photos {
  font-size: 30px;
  margin-top: -3px;
  margin-left: -3px;
}

// ion-spinner {
//   --color: var(--ion-color-secondary);
// }
