<ion-content padding class="bg-primary-gradient text-center">
  <img class="cover-img" src="assets/imgs/category-cover2.jpg">

  <p class="text-20 text-white w-50 mx-auto">{{ 'home.eventCodeTitle' | translate}}</p>

  <ion-item class="input-code mt-2">
    <ion-input type="text" placeholder="CAGD02"></ion-input>
  </ion-item>

  <ion-button center large color="primary" class="my-4" routerLink="/dashboard" routerDirection="root">VAI!</ion-button>

  <p class="text-20 text-white mt-5">{{ 'home.note' | translate}}</p>
  <p class="text-white">Lorem ipsum dolor sit amet,  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
</ion-content>
